th {
  background-color: rgb(243, 240, 240);
  justify-content: space-between;
  padding: 0.1px 29px;
}

td {
  background-color: rgb(217, 245, 239);
  text-align: center;
}

.edit {
  background-color: yellow;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

.del {
  background-color: red;
  border-radius: 8px;
  color: white;
  margin-left: 5px;
}
